<%= simple_form_for @event, html: { multipart: true } do |f| %>
 
  <div class="columns is-centered">
    <div class="column is-half">

      <div class="field">
        <div class="control">
          <%= f.input :title, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.date_field :date, input_html: { class: "date"}, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>

      <%= f.input :time, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
      <%#= f.association :client, prompt: "Choose a Client", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }  %>
      <%= f.association :client, collection: Client.all.order(:name).pluck(:shortname, :id), prompt: "Choose a Client", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }  %>

      <div class="field">
        <div class="control">
          <%= f.input :price, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :expenses, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :desctription, input_html: { class: "textarea"}, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>


      <div class="field">
        <div class="control">
          <%= f.button :submit, class:"button is-primary" %> 
        </div>
      </div>
    
    </div>
  </div>

  

  <p>
    
</p>
<% end %>